body
{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FBF9EF;
	padding: 0px 6%;
}

#main
{
  margin: 16px;
}

#park_days_list { margin: 0; padding: 0}

#park_days_list li
{
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}

#trip_info li, #trip_list li
{
  list-style-type: none;
}

#hours_list li
{
  list-style-type: none;
  display: block;
  font-size: .75em;
}

#trip_info span
{
  display: inline-block;
  width: 120px;
  text-align: right;
  margin: 0 2px 0 2px;
}

