:javascript
  $(function() {
    $.ajaxSetup({cache: false});
    $("#past-trips").hide();
    selectCurrentTripRow($(".current-trip-row")[0]);

    $(".scrollable").scrollable({circular: true});
    
    $(".current-trip-row").click(function(){
      selectCurrentTripRow(this);
    });

    function selectCurrentTripRow(row){
      $(".current-trip-row").each(function(){
        $(this).removeClass('selected ui-corner-all').addClass('not-selected');
      });

      $(row).addClass('selected ui-corner-all');
      var loading = "<p style='text-align: center'><img src='images/loading.gif' alt='loading...' /></p>";
      var slug = $(row).attr('slug');
      var url = slug + "/days/summary";

      //Move scrollable to first index
      //Then load with the new item
      $(".items").html(loading).load(url);
    }
  });
#user-landing-top
  #user-landing-left
    #current-trips{:class => 'ui-corner-all'}
      - @trips.each do |trip|
        .current-trip-row{:slug => trip.slug}
          %p
            = trip.name
            %span
              = trip.length_and_begins_on
    #past-trips{:class => 'ui-corner-all'}
      %p Old trip 1
  #user-landing-right
    %a{:class => "prev browse left"}PREV
    #quick-look
      .scrollable{:class => 'ui-corner-all'} 
        .items
    %a{:class => "next browse right"}NEXT
    .navi
  .clear
#user-landing-bottom
