#user-landing-left
  #current-trips
    %p Trip here
    %p Trip 2 here
  #past-trips
    %p Old trip 1
#user-landing-right
  #quick-look

%h3{:style => "color: #7D4C2B"}
  Welcome to Project Lumiere

  %ul
    %li
      %a{:href => "/new", :title => "add a new trip"} add a new trip
    %li
      %a{:href => "/list", :title => "view your trips"} view your trips
      
