%h3
  Welcome to Project Lumiere

  %ul
    %li
      %a{:href => "/new", :title => "add a new trip"} add a new trip
    %li
      %a{:href => "/list", :title => "view your trips"} view your trips
      
