#user-landing-top
  #user-landing-left
    #current-trips
      %p Trip here
      %p Trip 2 here
    #past-trips
      %p Old trip 1
  #user-landing-right
    #quick-look
      %p Daily details
  .clear
#user-landing-bottom
