#user-landing-top
  #user-landing-left
    #current-trips
      - @trips.each do |trip|
        %p= trip.name
        .trip-details= trip.length_and_begins_on
    #past-trips
      %p Old trip 1
  #user-landing-right
    #quick-look
      %p Daily details
  .clear
#user-landing-bottom
