!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Project Lumiere: Trip Info Storage
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Molengo"}/
    %link{:href => "/css/site.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/start/jquery-ui-1.8.4.custom.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:type => "text/javascript", :src => "/js/jquery-1.4.2.min.js"}
    %script{:type => "text/javascript", :src => "/js/jquery-ui-1.8.4.custom.min.js"}
  %body
    #container
      #header
        #logo
          %img{:src => "/images/boardwalk-logo.gif", :height => "80"}
        #header-links
          - %w(Spongebob account logout).each do |link|
            %a{:href => "#"}=link.strip
            = "&nbsp;|&nbsp;" unless link == "logout"
      #main
        = yield
      #footer
        #copyright
          Copyright &copy; 2010 ManageTheMouse.com. All Rights Reserved
        #footer-links
          -# These two links are the old way, need removed
          %a{:href => "/new", :title => "add a new trip"} add a trip
          &nbsp;|&nbsp;
          %a{:href => "/list", :title => "view your trips"} view trips
          &nbsp;|&nbsp;
          - %w(about contact twitter facebook).each do |link|
            %a{:href => "#"}=link.strip
            = "&nbsp;|&nbsp;" unless link == "facebook"
