/*
#771426 deep red
#A31B34 burgundy (Studios)
#627F40 green (Animal Kingdom)
#3B1C55 purple (Magic Kingdom)
#441708 dark brown/black (background)
#251472 blue (Epcot) (also links)
#7D4C2B brown
#BFA20A gold
#293116 dark green
*/
.clear {
  clear: both;
  height: 0; }

body {
  margin: 0px;
  font-family: Molengo, Arial, Helvetica, sans-serif;
  background-color: #441708;
  padding: 0px 6%;
  text-align: center; }

#container {
  margin: 0 auto;
  width: 800px;
  text-align: left;
  border-left: solid 2px #7d4c2b;
  border-right: solid 2px #7d4c2b;
  background: #293116; }

#header {
  border-bottom: solid 1px #7d4c2b;
  height: 80px; }

#logo {
  float: left;
  display: inline-block; }

#header-links {
  float: right;
  display: inline-block;
  color: #bfa20a;
  margin-right: 6px; }

#main {
  clear: both; }

#footer {
  height: 40px;
  font-size: .75em;
  color: #bfa20a; }

#footer a, #header a {
  color: #bfa20a; }

#copyright {
  float: left;
  display: inline-block;
  margin: 20px 6px 0 6px; }

#footer-links {
  float: right;
  display: inline-block;
  margin: 20px 6px 0 6px; }

#user-landing-left, #user-landing-right {
  display: inline-block;
  float: left;
  position: relative; }

#user-landing-left {
  width: 480px; }

#user-landing-right {
  width: 320px; }

#current-trips, #past-trips {
  border: solid 1px #bfa20a;
  background: #E8E8E8;
  margin: 0 40px 40px 40px; }

#quick-look {
  width: 240px;
  margin: 0 40px 40px 40px; }

#current-trips, #past-trips {
  width: 400px; }

.current-trip-row {
  cursor: pointer;
  margin: 4px 8px 4px 8px; }
  .current-trip-row p {
    margin-left: 6px;
    font-size: 1.2em;
    font-weight: bold; }
  .current-trip-row span {
    margin-left: 6px;
    font-size: .8em;
    font-weight: normal; }

.not-selected {
  border: solid 2px #E8E8E8;
  background-color: #E8E8E8; }

.selected {
  border: solid 2px #251472;
  background-color: #bfa20a; }

/*---- begin scrollable ----*/
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 238px;
  height: 280px;
  background: #E8E8E8;
  padding-top: 2px;
  /* custom decorations */
  border: solid 1px #bfa20a; }

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width: 20000em;
  position: absolute;
  clear: both;
  background: #E8E8E8;
  height: 276px; }

.items div {
  float: left;
  width: 680px; }

/* single scrollable item */
.scrollable img {
  float: left;
  margin: 20px 5px 20px 21px;
  background-color: #fff;
  padding: 2px;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

/* active item */
.scrollable .active {
  border: 2px solid #000;
  position: relative;
  cursor: default; }

/* this makes it possible to add next button beside scrollable */
.scrollable {
  float: left; }

/* prev, next, prevPage and nextPage buttons */
a.browse {
  background: url(../images/hori_large.png) no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 40px 10px;
  cursor: pointer;
  font-size: 1px; }

/* right */
a.right {
  background-position: 0 -30px;
  clear: right;
  margin-right: 0px; }

a.right:hover {
  background-position: -30px -30px; }

a.right:active {
  background-position: -60px -30px; }

/* left */
a.left {
  margin-left: 0px; }

a.left:hover {
  background-position: -30px 0; }

a.left:active {
  background-position: -60px 0; }

/* up and down */
a.up, a.down {
  background: url(../img/scrollable/arrow/vert_large.png) no-repeat;
  float: none;
  margin: 10px 50px; }

/* up */
a.up:hover {
  background-position: -30px 0; }

a.up:active {
  background-position: -60px 0; }

/* down */
a.down {
  background-position: 0 -30px; }

a.down:hover {
  background-position: -30px -30px; }

a.down:active {
  background-position: -60px -30px; }

/* disabled navigational button */
a.disabled {
  visibility: hidden !important; }

/* position and dimensions of the navigator */
.navi {
  margin-left: 328px;
  width: 200px;
  height: 20px; }

/* items inside navigator */
.navi a {
  width: 8px;
  height: 8px;
  float: left;
  margin: 3px;
  background: url(../images/navigator.png) 0 0 no-repeat;
  display: block;
  font-size: 1px; }

/* mouseover state */
.navi a:hover {
  background-position: 0 -8px; }

/* active state (current page state) */
.navi a.active {
  background-position: 0 -16px; }

/*---- end scrollable ----*/
