/*
#771426 deep red
#A31B34 burgundy (Studios)
#627F40 green (Animal Kingdom)
#3B1C55 purple (Magic Kingdom)
#441708 dark brown/black (background)
#251472 blue (Epcot) (also links)
#7D4C2B brown
#BFA20A gold
#293116 dark green
*/
.clear {
  clear: both;
  height: 0; }

body {
  margin: 0px;
  font-family: Molengo, Arial, Helvetica, sans-serif;
  background-color: #441708;
  padding: 0px 6%;
  text-align: center; }

#container {
  margin: 0 auto;
  width: 800px;
  text-align: left;
  border-left: solid 2px #7d4c2b;
  border-right: solid 2px #7d4c2b;
  background: #293116; }

#header {
  border-bottom: solid 1px #7d4c2b;
  height: 80px; }

#logo {
  float: left;
  display: inline-block; }

#header-links {
  float: right;
  display: inline-block;
  color: #bfa20a;
  margin-right: 6px; }

#main {
  clear: both; }

#footer {
  height: 40px;
  font-size: .75em;
  color: #bfa20a; }

#footer a, #header a {
  color: #bfa20a; }

#copyright {
  float: left;
  display: inline-block;
  margin: 20px 6px 0 6px; }

#footer-links {
  float: right;
  display: inline-block;
  margin: 20px 6px 0 6px; }

#user-landing-left, #user-landing-right {
  display: inline-block;
  float: left;
  position: relative; }

#user-landing-left {
  width: 480px; }

#user-landing-right {
  width: 320px; }

#quick-look, #current-trips, #past-trips {
  border: solid 1px #bfa20a;
  background: #E8E8E8;
  margin: 0 40px 40px 40px; }

#quick-look {
  width: 240px; }

#current-trips, #past-trips {
  width: 400px; }

.current-trip-row {
  cursor: pointer;
  margin: 4px 8px 4px 8px; }
  .current-trip-row p {
    margin-left: 6px;
    font-size: 1.2em;
    font-weight: bold; }
  .current-trip-row span {
    margin-left: 6px;
    font-size: .8em;
    font-weight: normal; }

.not-selected {
  border: solid 2px #E8E8E8;
  background-color: #E8E8E8; }

.selected {
  border: solid 2px #251472;
  background-color: #bfa20a; }

/*------ old styles for getting stuff to work early on ------*/
#park_days_list {
  margin: 0;
  padding: 0; }

#park_days_list li {
  list-style-type: none;
  display: inline;
  margin-right: 20px; }

#trip_info li, #trip_list li {
  list-style-type: none; }

#hours_list li {
  list-style-type: none;
  display: block;
  font-size: .75em; }

#trip_info span {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin: 0 2px 0 2px; }

.toggle-div {
  display: hidden; }

.meal_field INPUT, .meal_static_field INPUT {
  display: block; }
